<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Character</title>
</head>
<body>
    <div>
        <h1><span data-th-text="${character.name}"></span></h1>
    </div>
    <div>
        <p><span data-th-text="${character.description}"></span></p>
    </div>
    <div>
        <img data-th-src="@{{i}.jpg(i=${character.thumbnail})}" height="400">
    </div>

</body>
</html>